.modal {
  position: fixed;
  top:0; left:0; width:100%; height:100%;
  background: rgba(0,0,0,0.6);
  display:flex; justify-content:center; align-items:center;
  z-index: 1000;
}

.delete-modal {
  background: var(--light-color);
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align:center;
  position: relative;
}

.delete-modal h2 {
  color: var(--accent-rust);
  margin-bottom: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.delete-btn {
  background: var(--accent-darkrust);
  color: white;

  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  background: var(--accent-tan);
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.result {
  margin-top: 10px;
  font-weight: bold;
}
