.modal {
  position:fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--light-color);
  color: var(--dark-color);
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  padding: 20px;
  border-radius: 12px;
  overflow-y: auto;
  box-shadow: 0 0 25px rgba(0,0,0,0.35);
}

.delete-modal h2 {
  color: var(--accent-rust);
  margin-bottom: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.delete-btn {
  background: var(--accent-darkrust);
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  background: var(--accent-tan);
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.result {
  margin-top: 10px;
  font-weight: bold;
}
