.modal {
  position: fixed !important;
  top: 0;             /* force full-screen */
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.6) !important;
  z-index: 99999 !important;
}

.delete-modal {
  background: var(--light-color);
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align:center;
  position: relative;
}

.delete-modal h2 {
  color: var(--accent-rust);
  margin-bottom: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.delete-btn {
  background: var(--accent-darkrust);
  color: white;

  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.cancel-btn {
  background: var(--accent-tan);
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.result {
  margin-top: 10px;
  font-weight: bold;
}
