.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 9999;
}

.modal {
  background: var(--light-color);
  color: var(--dark-color);
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  padding: 20px;
  border-radius: 12px;
  overflow-y: auto;
  box-shadow: 0 0 25px rgba(0,0,0,0.35);
}

img{
    width:50px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin:15px auto;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--mid-neutral);
  border-radius: 6px;
  background: var(--light-color);
}

#form-buttons{
  background: var(--accent-tan);
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}
