:root {
    --primary-color: #6f7460;   
    --dark-color: #2c2d29;      
    --mid-neutral: #d9dbd2;     
    --light-color: #f7f7f5; 
    --light-green: #bfc077;    
    --accent-tan: #a07f5a;      
    --accent-sage: #9fb39c;     
    --accent-rust: #c76d4a;     
    --accent-darkrust: #9a3f25;
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: var(--dark-color); 
}
body, html, #root {
  height: 100%;
  overflow: visible;
}

section {
  overflow: visible;
}

h1, h2, h3 {
    color: var(--dark-color);
    font-family: Verdana, sans-serif;
}

h4, h5, h6, p {
    color: var(--dark-color); 
    font-family: Verdana, sans-serif;
}

a {
    color: var(--accent-rust); 
    text-decoration: none;
    font-family: Verdana, sans-serif;
}
a:hover {
    color: var(--accent-darkrust); 
}

.columns {
    display: flex;
}

.grid {
    display: grid;
}