#testimonials-section h1{
  color: var(--accent-tan);
  text-align: center;
  margin: 0;
  padding: 20px;
  border-top: 2px solid var(--accent-tan);
  border-bottom: 2px solid var(--accent-tan);
}

#testimonials-container{
  flex-wrap: wrap;
}

.testimonial-card {
  background: var(--accent-sage);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  width:100%;

}

.testimonial-card img {
  width: 30%;
  border-radius: 10px;
}


@media (min-width: 768px) {
  
}