#testimonials-section h1{
  color: var(--accent-tan);
  text-align: center;
  margin: 0;
  padding: 20px;
  border-top: 2px solid var(--accent-tan);
  border-bottom: 2px solid var(--accent-tan);
}

#testimonials-container{
  flex-wrap: wrap;
}