.testimonial-card {
  background-color: var(--light-color);
  border: 1px solid var(--mid-neutral);
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease;
}

.testimonial-card:hover {
  transform: scale(1.03);
}

.testimonial-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.testimonial-content {
  padding: 1rem;
  color: var(--dark-color);
}

.testimonial-content h3 {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.2rem;
}

.testimonial-stars {
  color: #f5b50a;
  margin: 0.2rem 0;
}

.testimonial-training {
  font-size: 0.9rem;
  margin: 0.2rem 0;
  color: var(--accent-sage);
}

.testimonial-training p {
    font-size: 0.9rem;
    color: var(--accent-sage);
}

.testimonial-review {
  margin-top: 0.5rem;
}

.testimonial-review p{
    font-size: 0.95rem;
    color: var(--dark-color);
}